mysql.sql
*/node_modules/*
*yarn.lock
*package-lock.json
server-api/server-api.log
server-api/uploads
frontend-test/*.pyc
frontend-test/test.html
.vagrant/*
server-api/yarn-error.log
frontend-lintreport.html
backend-lintreport.html